@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.sidebar{
  height: 100vh;
  cursor: pointer;
  min-width: 220px;
}
.center{
  display: flex;
  justify-content: start;
  padding-left: 1rem;
  align-items: center;
  text-align: center;
}
.sidebar-item{
  @apply bg-none;
}
.sidebar-item:hover .label, .sidebar-item:hover .icon{
  @apply text-white;  
}
.sidebar-item.active{
  @apply bg-blue-500;
}
.order-item{
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
}
.order-item .item{
  font-weight: bold;
  font-size: 30px;
}
.order-item .item-sub{
  font-size: 14px;
  font-weight: 600;
}